body {
  font-family: Ubuntu;
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
}
h2{
  font-style: italic;
}
.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}
.left-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  vertical-align: auto;
  margin-left: -30px;
}
.app-container {
  max-width: 90%;
  margin: 30px auto;
  background-color:rgb(33, 33, 33);
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ffffff;
}
h2{
  font-size: 20px;
  margin-top: -15px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}
.inputs{
  color: white;
}
input[type="text"] {
  width: 80%;
  padding: 10px;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 25px;
  border-style: solid;
  height: 10px;
  border: 1px solid #cccccc;
}
input[type="text1"] {
  width:20%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border-style: solid;
  height: 10px;
  border: 1px solid #cccccc;
}

input[type="text2"] {
  width:40%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border-style: solid;
  height: 10px;
  border: 1px solid #cccccc;
}

.search{
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 280px;

}

button {
  padding: 10px 20px;
  background-color:#888;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.adv-filter{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.sub-head{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.inputbtn{
  padding: 10px 20px;
  background-color: #888;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.addbutton{
  padding: 10px 20px;
  background-color:#888;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #525151;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color:rgb(33, 33, 33);
  color: #fff;
  border: none;
  font-family: Ubuntu;
  width: 100px;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

li button.edit {
  background-color: #333;
}

li button:hover {
  background-color: #ff7878;
}

li input[type="text"] {
  display: none;
  width: 70%;
  font-family: Ubuntu;
  padding: 5px;
}

li input[type="text"].edit {
  display: block;
}

li button.save {
  background-color: #1e90ff;
}

li button.save:hover {
  background-color: #3b9eff;
}
.done {
  text-decoration: line-through;
  opacity: 0.7;
}

.category,
.due-date,
.priority {
  margin-right: 5px;
  color: #888;
}

.filters {
  margin-bottom: 10px;
  width: 100%;
  margin-left: 50px;
  justify-content: space-between;
  margin-top: 30px;
}
.subtask-list {
  list-style-type: none;
  padding: 0;
  color: white;
  margin-top: 5px; 
}

.subtask-list li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.subtask-list li input[type="checkbox"] {
  margin-right: 5px;
}

.activity-logs {
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.activity-logs h2 {
  margin-top: 0;
  color: #333;
  font-size: 30px;
}

.clear-activity-log-btn{
  align-items: center;
  justify-content: center;
}


.edit-subtask-input {
  width: 70%;
  font-family: Ubuntu;
  padding: 5px;
}

.save-subtask-btn {
  background-color: #1e90ff;
  display: inline-block;
}